<a href="https://colab.research.google.com/github/mariosilvestri3/capstone-objectives-1-2-3/blob/main/objective-3-modeling-report.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TelCo Customer Churn - Capstone for Mario Silvestri
## Objective 3 - Modeling with Machine Learning
This notebook is the model selection, training and validation process and final deliverable for Objective 3 - Modeling.

### Import preprepped data

In [10]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
churn_data_file = 'https://raw.githubusercontent.com/mariosilvestri3/capstone-objectives-1-2-3/main/customer-churn-prepped.csv'
df = pd.read_csv(churn_data_file)

### Assign Feature and Target variables

In [11]:
y = df['Churn_Yes']
X = df.drop(columns=['Churn_Yes'])

### Split data into training and validation (test) sets.

In [12]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)

### Train and Test Decision Tree Model

In [13]:
tree_model = DecisionTreeClassifier()
tree_model.fit(train_X, train_y)
tree_model_predictions = tree_model.predict(val_X)

In [14]:
correct = 0
incorrect = 0
for index, prediction in enumerate(tree_model_predictions):
  if prediction == val_y.iloc[index]:
    correct += 1
    continue
  incorrect +=1

print('Correct:', correct)
print('Incorrect:', incorrect)
print('Accuracy:', "{:.1f}".format(correct*100/(incorrect+correct)) + '%')

Correct: 1283
Incorrect: 478
Accuracy: 72.9%

### Train and Test Logistic Regression Model

In [15]:
logr_model = LogisticRegression()
logr_model.fit(train_X, np.ravel(train_y))
logr_model_predictions = logr_model.predict(val_X)

In [16]:
val_X[10:20]

      Senior Citizen_Yes  ...  Payment Method_Mailed check
407                    1  ...                            1
6947                   0  ...                            0
5368                   1  ...                            0
1230                   0  ...                            0
1347                   0  ...                            1
1681                   0  ...                            0
3786                   0  ...                            0
3187                   0  ...                            0
2065                   0  ...                            0
413                    0  ...                            0

[10 rows x 24 columns]

In [17]:
correct = 0
incorrect = 0
for index, prediction in enumerate(logr_model_predictions):
  if prediction == val_y.iloc[index]:
    correct += 1
    continue
  incorrect +=1

print('Correct:', correct)
print('Incorrect:', incorrect)
print('Accuracy:', "{:.1f}".format(correct*100/(incorrect+correct)) + '%')

Correct: 1404
Incorrect: 357
Accuracy: 79.7%